<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Messages</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-custom">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">
                  <img src="/img/logo.png"  style="height:40px;width:100px;" alt="">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/msgs/new">New Msg</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/msgs">All Msgs</a>
          </li>
          <% if(!user){ %>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <%}else{%>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <% }%>
        </ul>
    </div>
</nav>
<div class="bg">

<!--Form-->

    <div class="container">
        <form action="/msgs/<%= found._id%>?_method=PUT" method="POST">
            <div class=" ">
                <label for="fname">Wacky Title</label>
                <input type="text" name="msg[title]" value="<%=found.title%>">
            </div>
            <div class="">
                <label for="fname">The Paragraph</label>
                <textarea name="msg[body]" placeholder=""> <%=found.body%></textarea>
            </div>
            <!-- <div class="">
                <label for="fname">Image that goes well with ur msg</label>
                <input type="text" name="msg[image]" value="<%=found.image%>">
            </div> -->
            <button type="submit" id="btn-cus"class="btn btn-sm">Done? Done!</button>
          </form>
    </div>


</div>
</body>
</html>